.footer {
  border-top: 0.5px solid;
  padding: 30px 0px;
  border-color: $footerInputBorder;
}
.footer__content {
  display: grid;
  grid-gap: 30px;
  justify-content: center;
}
.footer__subscribe {
  height: 40px;
  display: grid;
  grid-auto-flow: column;

  &--input {
    text-align: center;
    border-right: none;
    border: solid 1px $footerInputBorder;
  }

  &--button {
    background-color: $footerButton;
    color: $fontWhite;
    border: $footerButton;
    cursor: pointer;
    transition: 0.5s;

    padding: 10px 30px;
    &:hover {
      background-color: $footerButtonHover;
    }
  }
}

.form__input:not(:placeholder-shown):required:valid {
  color: green;
}

.form__input:not(:placeholder-shown):required:invalid {
  color: red;
}

@media screen and (min-width: 1024px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--color {
      color: $fontOrange;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
