$backgroundShadowTop: #f38181d9;
$backgroundShadowBottom: #fce38ad9;

$fontWhite: #fff;
$fontBlack: #000;
$fontGrey:#808080;
$headerButton:#fff;
$headerButtonHover: #ffa600;

$headerNavigationHover:#ffa600;

$borderLine: #ff0000;
$boxShadow:#95e1d3;

$footerButton:#95e1d3;
$footerButtonHover:#ffa500;
$footerInputBorder:#80808061;